$bg-header-panel: #20374f;
$color-header-panel: #fff;
$white: #fff;
$bg-card-body-inner: #f8af24;
$text-color-1: #00a8cc;
$text-color-2: #b6cadf;
$text-color-3: #fff;
$text-color-4: #20374f;
$text-color-5: #434a59;
$label: #a9b3be;
$btn-color-1: #00a8cc;
$btn-color-2: #bac2cd;
$btn-color-3: #20374f;
$btn-color-4: #88d97c;
$btn-color-5: #e48282;
$arrow: #96a6bc;
$input-mandatory: #f8fafd;

$hided-menu-width: 57px;
$opened-menu-width: 235px;