@import '../../../styles/site-mixin';

.page-transactions {
  margin: 0 auto;
  .title {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: $text-color-1;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .card-header {
    background-color: $bg-header-panel;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $white;
    .card-header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-icon-refresh {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        background-color: #d0d8e3;
        border: none;
      }
      .back-to-profile {
        margin-right: 10px;
        height: 41px;
      }
    }

  }

  .card-body {
    position: relative;
    label {
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      text-align: left;
      color: $label;
    }
    .wrapper-dropdown {
      bottom: 0;
      right: 15px;
      position: absolute;
      & > div > button {
        background-color: $btn-color-1;
        .btn-text {
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: left;
          color: $white;
          display: inline-block;
        }
        &::after {
          color: $white;
        }
      }

      .dropdown-item {
        background: $white;
        color: #585858;
        cursor: pointer;
        input[type="checkbox"] {
          clip: rect(1px, 1px, 1px, 1px);
          left: -9999px;
          position: absolute !important;
        }
        label:before,
        input[type="checkbox"] + div:before {
          content: '';
          display: inline-block;
          vertical-align: text-top;
          line-height: 1.1em;
          border: 1px solid #999;
          border-radius: 0.2em;
          width: 1.1em;
          height: 1.1em;
          margin-right: 0.3em;
          text-align: center;
        }
        &.checked {
          input[type="checkbox"] + div:before {
            content: '✔';
            color: #00a8cc;
          }
        }
      }
    }

    hr {
      position: absolute;
      width: 100%;
      left: 0px;
      border: 0;
      height: 2px;
      background-color: #D0D8E3;
    }

    .table-responsive {
      margin-bottom: 100px;
      margin-top: 30px;
      border-bottom: 2px solid #979797;
    }
    .page-footter {
      position: absolute;
      bottom: 10px;
    }
  }
}

// landscape
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

// iPad Portrait
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

// mobile screens
@media screen and (max-width: 767px) {
  .card-body {
    .datepicker-input {
      /deep/ .dropdown-menu {
        right: 0 !important;
        left: inherit !important;
      }
    }
    .dropdown-menu.show {
      left: 0 !important;
    }
    .wrapper-dropdown {
      position: inherit!important;
      right: 0!important;
    }
    min-height: 700px;
  }
}
